// To reduce clutter and maintain the sense of space on the home page, create an inline button that has similar styling to other buttons used
.btn-text {
    &:link,
    &:visited {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;  // to prevent any text wobble on transition
        bottom: 1rem;
        color: $color-medium-green;
        display: inline-block;
        font-size: $mobile-font-size__portrait;
        font-weight: 700;
        padding: 1rem;
        position: absolute;
        right: 2rem;
        text-decoration: none;
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
    }

    &:hover {
        background-color: $color-medium-green;
        border-radius: $image-border-radius-small;
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
                box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        color: $color-white;
        -webkit-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
                transform: translateY(-0.3rem);
    }

    &:active {
        -webkit-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
        -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

.btn {

    &__wrapper {
        position: relative;
    }

    &-link:hover {
        text-decoration: none;
    }

}

.btn-booking {
    bottom: 0%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
    
    // Alternative button - similar enough to navigation to feel consistent; different enough to offer a sense of variety
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;  // Reduce any potential image wobble
    background-image: -o-radial-gradient(center, circle, rgba($color-dark-green, 0.7) 5%, rgba($color-dark-green, 0.9));
    background-image: radial-gradient(circle at center, rgba($color-dark-green, 0.7) 5%, rgba($color-dark-green, 0.9));
    border: 0.2rem solid $color-white;
    border-radius: $image-border-radius-large;
    -webkit-box-shadow: 0 0 0.5rem $color-dark-green;
            box-shadow: 0 0 0.5rem $color-dark-green;
    color: $color-white;
    font-size: $mobile-font-size__portrait;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }

    &:hover {
        background-color: $color-medium-green;
        -webkit-box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
                box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
        color: $color-white;
        -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
                transform: translate(-50%, -60%);
    }

    &:active {
        background-color: $color-dark-green;
        -webkit-box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);
                box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);
        color: $color-white;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    &__index {
        -webkit-transform: translate(-50%, -25%);
        -ms-transform: translate(-50%, -25%);
        transform: translate(-50%, -25%);

        &:hover {
            -webkit-transform: translate(-50%, -30%);
            -ms-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
        }

        &:active {
            -webkit-transform: translate(-50%, -25%);
            -ms-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
        }
    }

    &__popup {
        font-size: $mobile-font-size__portrait;

        @media only screen and (min-width: 768px) {
            font-size: 2.6rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: $main-font-size;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 2.7rem;
        }
    }
}