// To reduce clutter and maintain the sense of space on the home page, create an inline button that has similar styling to other buttons used
.btn-text {
    &:link,
    &:visited {
        position: absolute;
        left: 1rem;
        bottom: 0;
        display: block;
        font-size: $mobile-font-size__portrait;
        font-weight: 700;
        color: $color-medium-green;
        text-decoration: none;
        padding: 1rem;
        -webkit-transition: all 0.15s;
        transition: all 0.15s;
        backface-visibility: hidden;

    }

    &:hover {
        background-color: $color-medium-green;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        border-radius: $image-border-radius-small;
        transform: translateY(-0.3rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
        transform: translateY(0rem);
    }
}

.btn {

    &__wrapper {
        position: relative;
    }

}

.btn-booking {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    
    // Alternative button - similar enough to navigation to feel consistent; different enough to offer a sense of variety
    padding: 1rem 1.2rem;
    font-size: $mobile-font-size__portrait;
    text-transform: uppercase;
    background-image: radial-gradient(circle at center, rgba($color-dark-green, 0.7) 5%, rgba($color-dark-green, 0.9));
    color: $color-white;
    border: 0.2rem solid $color-white;
    box-shadow: 0 0 0.5rem $color-dark-green;
    border-radius: $image-border-radius-large;
    backface-visibility: hidden;
    transition: all 0.2s;

    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }

    &:hover {
        background-color: $color-medium-green;
        color: $color-white;
        transform: translate(-50%, -60%);
        box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
    }

    &:active {
        background-color: $color-dark-green;
        color: $color-white;
        transform: translate(-50%, -50%);
        box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);
    }

    &__index {
        transform: translate(-50%, -25%);

        &:hover {
            transform: translate(-50%, -30%);
        }

        &:active {
            transform: translate(-50%, -25%);
        }
    }



    

    &__popup {
        font-size: $mobile-font-size__portrait;

        @media only screen and (min-width: 768px) {
            font-size: 2.6rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: $main-font-size;
        }

        @media only screen and (min-width: 1024px) {
            font-size: 2.7rem;
        }
    }

}