.card {
    background-color: transparent;
    border: none;
    margin-bottom: 3rem;
    width: 100%;
    padding: 1rem;
    background-color: rgba($color-white, 0.7);
    box-shadow: 0.9rem 0.8rem 2rem rgba($color-contrast-blue, 0.5);
    border-radius: $image-border-radius-small;
    overflow: auto;

    &-footer {
        background-color: transparent;
        border: none;
    }

    &-body {

        &__about {
            width: 110%;
            margin-left: -5%;
        }
    }

    &-img {
        width: 100%;
        margin: 0 0%;
        border-radius: $image-border-radius-large;

        &__therapies {
            border: 0.3rem solid rgba($color-contrast-blue, 0.25);
            box-shadow: 0 0.6rem 2.3rem rgba($color-contrast-blue, 0.5);
        }
    }

    &-text {
        align-items: center;
        color: $color-contrast-blue;
        display: flex;
        font-size: $mobile-font-size__portrait;
        font-weight: 400;
        margin: 2rem auto;
        min-height: 25rem;
        overflow: auto; 
        word-wrap: break-word;

        &__therapies-home {
            min-height: 18rem;
            overflow: auto;
        }

        
        &__about {

            min-height: 35rem;
        }

        &__contact {
            min-height: 1rem;
            text-align: center;
            justify-content: center;
        }

        &__contact a {
            color: $color-contrast-blue;
            text-decoration: none;
        }
    }

    &-individual__image {
        width: 90%;
        margin: 0 5%; 
    }

    &__customer-feedback {
        background-color: $color-white;
        box-shadow: 0.5rem 0.5rem 3rem rgba($color-black, 0.4);
    }
}