.logo-box {
    position: absolute;
    top: 1.4rem;
    left: 2rem;

    @media only screen and (orientation: landscape) {
        top: 1.5rem;
    }

    @media only screen and (min-width: 768px) {
        top: 2rem;
    }

    @media only screen and (min-width: 1024px) {
        top: 3rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 1024px) {
        top: 4rem;
    }

    @media only screen and (min-width: 1200px) {
        top: 4rem;
        left: 4rem;
    }
}


.logo {
    height: 3rem;

    @media only screen and (orientation: landscape) {
        height: 3.7rem;
    }

    @media only screen and (min-width: 768px) {
        height: 5rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 768px) {
        height: 4rem;
    }

    @media only screen and (min-width: 1024px) {
        height: 6rem;
    }
}