.logo-box {
    position: absolute;
    top: 22px;
    left: 20px;

    @media only screen and (min-width: 768px) {
        left: 20px;
    }
}


.logo {
    height: 4rem;

    @media only screen and (min-width: 768px) {
        height: 7rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
        height: 4rem;
    }
}