.heading-open {
    @include center-screen;
    -webkit-animation: inAndOut 3s linear;
    animation: inAndOut 3s linear;
    color: $color-dark-green;
    font-size: 3.4rem;  // 4rem;
    font-weight: 700;
    left: 52%;
    letter-spacing: 1rem;
    opacity: 0;
    text-shadow: 0.3rem 0.1rem 0.6rem rgba($color-contrast-blue, 0.5);
    text-transform: uppercase;
}

// Start of heading primary
.heading-primary {
    @include center-screen;
    color: $color-white;
    font-size:  3rem;
    font-weight: 300;
    left: 47%;
    letter-spacing: 1rem;
    text-shadow: 0.5rem 0.4rem 0.5rem $color-dark-green;
    text-transform: uppercase;
}
.heading-primary__main, .heading-primary__sub1 {
    display: block;
    opacity: 0;
    padding-bottom: 3rem;
}
.heading-primary__main {
    -webkit-animation: slideUp 1.5s linear 2.6s forwards;
    animation: slideUp 1.75s linear 2.6s forwards;
}
.heading-primary__sub1 {
    -webkit-animation: slideUp 1.5s linear 3.2s forwards;
    animation: slideUp 1.75s linear 3.5s forwards;
}
.heading-primary__sub2 {
    -webkit-animation: slideUp 1.5s linear 4s backwards;
    animation: slideUp 1.75s linear 4.3s backwards;
    display: block;
}
// End of heading primary

// Start of heading secondary
.heading-secondary {
    color: $color-dark-green;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;

    &__popup {
        @include center-screen;
        color: $color-white;
        font-size: 2.5rem;
        text-shadow: 2px 2px rgba($color-dark-green, 0.8) ;
        top: 25%;
    }
}
// End of heading secondary

// Start of heading tertiary
.heading-tertiary {
    color: $color-contrast-blue;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;

    &__therapies {
        font-size: $mobile-font-size__portrait;
        letter-spacing: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
        border-bottom: 1px solid rgba($color-contrast-blue, 0.5);
        }

    &__popup {
        @include center-screen;
        top: 52%;
        font-size: $main-font-size;
        color: $color-white;
        text-shadow: 2px 2px rgba($color-dark-green, 0.8);
        width: 100%;
    }
}
// End of heading primary
