// COLORS
$color-light-green: #D8DfD7;                    // RGB 216, 223, 215
$color-medium-green: #558B6E;                   // RGB 85, 129, 110
$color-dark-green: #35524A;                     // RGB 53, 82, 74

$color-contrast-blue:#4A4E69;                   // RGB 74, 78, 105

$color-light-gray: #797B84;                           // RGB 121, 123, 132
$color-black: #000000;                          // RGB 0, 0, 0
$color-white: #FFFFFF;                          // RGB 255, 255, 255



//FONT
$main-font-size: 1.6rem;




//IMAGE BORDERS
$image-border-radius-small: 0.5rem;
$image-border-radius-large: 10rem;