/* Homepage Hero Text */
@keyframes inAndOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

/* Book Now Button */
@keyframes blink {
  0% {
    border: 1px solid transparent; }
  50% {
    border: 1px solid #D8DfD7; }
  100% {
    border: 1px solid transparent; } }

:root {
  font-size: 10px; }

*, .container-fluid {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.heading-open {
  color: #35524A;
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.95rem;
  text-shadow: 0.5rem 0.4rem 0.5rem #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 52%;
  opacity: 0;
  animation: inAndOut 3s linear;
  /* iPad */ }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
    .heading-open {
      font-size: 3rem;
      top: 57%;
      left: 34%; } }
  @media only screen and (min-width: 768px) {
    .heading-open {
      font-size: 8.5rem;
      letter-spacing: 2rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
    .heading-open {
      font-size: 3.4rem;
      letter-spacing: 1.2rem;
      top: 55%;
      left: 37%; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) and (max-width: 1199px) {
    .heading-open {
      font-size: 8rem;
      letter-spacing: 2rem;
      top: 59%;
      left: 47%; } }
  @media only screen and (min-width: 1200px) {
    .heading-open {
      top: 35%;
      left: 32%; } }

.heading-primary {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1.2rem;
  text-shadow: 0.5rem 0.4rem 0.5rem #35524A;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
  /* mixin adjusted to better accommodate the iPhone X */
  /* iPhone X */ }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
    .heading-primary {
      top: 57%;
      left: 35%; } }
  @media only screen and (min-width: 768px) {
    .heading-primary {
      font-size: 8rem;
      letter-spacing: 2rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 814px) {
    .heading-primary {
      font-size: 3.2rem;
      letter-spacing: 1.2rem;
      top: 60%;
      left: 35%; } }
  @media only screen and (orientation: landscape) and (min-width: 815px) and (max-width: 1199px) {
    .heading-primary {
      font-size: 6rem;
      letter-spacing: 3rem;
      top: 60%;
      left: 45%; } }
  @media only screen and (min-width: 1200px) {
    .heading-primary {
      left: 30%; } }

.heading-primary__main {
  display: block;
  padding-bottom: 4.9rem;
  opacity: 0;
  -webkit-animation: slideUp 1.5s linear 2.6s forwards;
  animation: slideUp 1.5s linear 2.6s forwards; }

.heading-primary__sub1 {
  display: block;
  padding-bottom: 4.9rem;
  -webkit-animation: slideUp 1.5s linear 3.2s backwards;
  animation: slideUp 1.5s linear 3.2s backwards; }

.heading-primary__main, .heading-primary__sub1 {
  /* iPhone X */ }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
    .heading-primary__main, .heading-primary__sub1 {
      padding-bottom: 2rem; } }
  @media only screen and (min-width: 768px) {
    .heading-primary__main, .heading-primary__sub1 {
      padding-bottom: 7rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
    .heading-primary__main, .heading-primary__sub1 {
      padding-bottom: 4.9rem; } }

.heading-primary__sub2 {
  display: block;
  -webkit-animation: slideUp 1.5s linear 4s backwards;
  animation: slideUp 1.5s linear 4s backwards; }

.heading-secondary {
  font-size: 2.7rem;
  color: #35524A;
  font-weight: 400;
  letter-spacing: 0.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem; }
  @media only screen and (min-width: 768px) and (max-width: 899px) {
    .heading-secondary {
      letter-spacing: 1.4rem; } }
  @media only screen and (min-width: 900px) {
    .heading-secondary {
      font-size: 6rem;
      letter-spacing: 1.6rem;
      margin-bottom: 8rem; } }
  @media only screen and (min-width: 320px) and (max-width: 900px) {
    .heading-secondary__therapies {
      font-size: 2.3rem;
      margin-bottom: 2rem; } }
  @media only screen and (min-width: 900px) {
    .heading-secondary__bookings {
      margin-bottom: 4rem; } }
  .heading-secondary__popup {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%; }
    @media only screen and (min-width: 768px) {
      .heading-secondary__popup {
        font-size: 4.5rem; } }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
      .heading-secondary__popup {
        font-size: 3.5rem; } }
    @media only screen and (min-width: 1024px) {
      .heading-secondary__popup {
        font-size: 6rem; } }
    @media only screen and (min-width: 1500px) {
      .heading-secondary__popup {
        font-size: 8rem; } }

.heading-tertiary {
  font-size: 2.4rem;
  color: #4A4E69;
  font-weight: 400;
  letter-spacing: 0.8rem;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem; }
  .heading-tertiary__therapies {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-bottom: 1px solid rgba(74, 78, 105, 0.5); }
    @media only screen and (min-width: 992px) {
      .heading-tertiary__therapies {
        font-size: 2.2rem;
        letter-spacing: 0.8rem;
        padding: 1rem;
        text-align: center;
        margin-bottom: 3rem; } }
  @media only screen and (orientation: landscape) and (min-width: 992px) {
    .heading-tertiary {
      font-size: 3rem; } }
  .heading-tertiary__popup {
    font-size: 1.6rem;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
    position: absolute;
    top: 40%; }
    @media only screen and (min-width: 768px) {
      .heading-tertiary__popup {
        font-size: 3.2rem; } }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
      .heading-tertiary__popup {
        font-size: 2.1rem; } }
    @media only screen and (min-width: 1024px) {
      .heading-tertiary__popup {
        font-size: 4.2rem; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .heading-tertiary__popup {
        font-size: 3.2rem; } }
    @media only screen and (orientation: landscape) and (min-width: 1200px) {
      .heading-tertiary__popup {
        font-size: 4.2rem; } }
    @media only screen and (min-width: 1500px) {
      .heading-tertiary__popup {
        font-size: 5rem; } }
  @media only screen and (min-width: 900px) {
    .heading-tertiary__line-1 {
      display: block; } }

.btn-text:link, .btn-text:visited {
  position: absolute;
  left: 1rem;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #558B6E;
  text-decoration: none;
  padding: 1rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  backface-visibility: hidden; }

.btn-text:hover {
  background-color: #558B6E;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  transform: translateY(-0.3rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0rem); }

.btn-booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #35524A;
  color: #FFFFFF;
  border: 0.1rem solid transparent;
  border-radius: 50rem;
  backface-visibility: hidden;
  transition: all 0.2s; }
  @media only screen and (min-width: 768px) {
    .btn-booking {
      font-size: 2rem; } }
  .btn-booking:hover {
    background-color: #558B6E;
    color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(53, 82, 74, 0.5); }
  .btn-booking:active {
    background-color: #35524A;
    color: #FFFFFF;
    box-shadow: 0 0.5rem 0.7rem rgba(53, 82, 74, 0.9); }
  .btn-booking__prices {
    top: 65%; }
    .btn-booking__prices:hover {
      top: 64.8%; }
    .btn-booking__prices:active {
      top: 65%; }
  .btn-booking__bookings {
    top: 56%; }
    @media only screen and (min-width: 375px) {
      .btn-booking__bookings {
        top: 57%; } }
    @media only screen and (orientation: landscape) {
      .btn-booking__bookings {
        top: 59%; } }
    @media only screen and (min-width: 768px) {
      .btn-booking__bookings {
        top: 61.5%; } }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
      .btn-booking__bookings {
        top: 61%; } }
    @media only screen and (min-width: 1024px) {
      .btn-booking__bookings {
        top: 75%; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .btn-booking__bookings {
        top: 76%; } }
    @media only screen and (min-width: 1200px) {
      .btn-booking__bookings {
        top: 78%;
        font-size: 3rem; } }
    .btn-booking__bookings:focus {
      -webkit-animation: blink 5s ease-in-out;
      animation: blink 0.5s ease-in-out 3; }
    .btn-booking__bookings:hover {
      top: 55.8%; }
      @media only screen and (min-width: 375px) {
        .btn-booking__bookings:hover {
          top: 56.8%; } }
      @media only screen and (orientation: landscape) {
        .btn-booking__bookings:hover {
          top: 58.8%; } }
      @media only screen and (min-width: 768px) {
        .btn-booking__bookings:hover {
          top: 61.3%; } }
      @media only screen and (orientation: landscape) and (min-width: 768px) {
        .btn-booking__bookings:hover {
          top: 60.8%; } }
      @media only screen and (min-width: 1024px) {
        .btn-booking__bookings:hover {
          top: 74.8%; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        .btn-booking__bookings:hover {
          top: 76%; } }
      @media only screen and (min-width: 1200px) {
        .btn-booking__bookings:hover {
          top: 77.8%; } }
    .btn-booking__bookings:active {
      top: 56%; }
      @media only screen and (min-width: 375px) {
        .btn-booking__bookings:active {
          top: 57%; } }
      @media only screen and (orientation: landscape) {
        .btn-booking__bookings:active {
          top: 59%; } }
      @media only screen and (min-width: 768px) {
        .btn-booking__bookings:active {
          top: 61.5%; } }
      @media only screen and (orientation: landscape) and (min-width: 768px) {
        .btn-booking__bookings:active {
          top: 61%; } }
      @media only screen and (min-width: 1024px) {
        .btn-booking__bookings:active {
          top: 75%; } }
      @media only screen and (orientation: landscape) and (min-width: 1024px) {
        .btn-booking__bookings:active {
          top: 76%; } }
      @media only screen and (min-width: 1200px) {
        .btn-booking__bookings:active {
          top: 78%; } }
  .btn-booking__popup {
    font-size: 1.3rem;
    top: 80%; }
    @media only screen and (min-width: 768px) {
      .btn-booking__popup {
        font-size: 2.6rem; } }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
      .btn-booking__popup {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 1024px) {
      .btn-booking__popup {
        font-size: 3rem; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .btn-booking__popup {
        font-size: 2.6rem; } }
    @media only screen and (min-width: 1200px) {
      .btn-booking__popup {
        font-size: 3rem; } }
    @media only screen and (min-width: 1500px) {
      .btn-booking__popup {
        top: 85%; } }
    .btn-booking__popup:hover {
      top: 79.5%; }
      @media only screen and (min-width: 1500px) {
        .btn-booking__popup:hover {
          top: 84.5%; } }
    .btn-booking__popup:active, .btn-booking__popup:focus {
      animation: none;
      top: 80%; }
      @media only screen and (min-width: 1500px) {
        .btn-booking__popup:active, .btn-booking__popup:focus {
          top: 85%; } }

.card {
  background-color: transparent;
  border: none;
  margin-bottom: 3rem; }
  @media only screen and (min-width: 1200px) {
    .card {
      margin-bottom: 0; } }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 1199px) {
    .card {
      margin: 0 3rem 3rem 3rem; } }
  .card-img {
    width: 100%;
    border-radius: 3rem; }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .card-img {
        width: 80%;
        margin-left: 10%; } }
  .card-body {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
    border-radius: 2rem;
    overflow: auto; }
  .card__customer-feedback {
    width: 90%;
    margin: 2rem auto; }
    @media only screen and (min-width: 900px) {
      .card__customer-feedback {
        width: 100%;
        margin: 0; } }

.logo-box {
  position: absolute;
  top: 1.4rem;
  left: 2rem; }
  @media only screen and (orientation: landscape) {
    .logo-box {
      top: 1.5rem; } }
  @media only screen and (min-width: 768px) {
    .logo-box {
      top: 2rem; } }
  @media only screen and (min-width: 1024px) {
    .logo-box {
      top: 3rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .logo-box {
      top: 4rem; } }
  @media only screen and (min-width: 1200px) {
    .logo-box {
      top: 4rem;
      left: 4rem; } }

.logo {
  height: 3rem; }
  @media only screen and (orientation: landscape) {
    .logo {
      height: 3.7rem; } }
  @media only screen and (min-width: 768px) {
    .logo {
      height: 5rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .logo {
      height: 4rem; } }
  @media only screen and (min-width: 1024px) {
    .logo {
      height: 6rem; } }
  @media only screen and (min-width: 1200px) {
    .logo {
      height: 8rem; } }

.footer {
  background: rgba(53, 82, 74, 0.9);
  color: #FFFFFF;
  margin-top: 1rem;
  padding-top: 3rem; }
  .footer__heading {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(121, 123, 132, 0.5);
    border-width: thin; }
    .footer__heading--margin {
      margin-top: 3rem; }
      @media only screen and (min-width: 1200px) {
        .footer__heading--margin {
          margin-top: 0; } }
  .footer__text {
    font-weight: 400;
    font-size: 1.3rem; }
  .footer .footer__text a {
    color: #558B6E;
    text-decoration: none;
    font-size: 1.7rem; }

.footer__location i {
  font-size: 1.4rem; }

.navigation__item-footer {
  list-style-type: none; }

.copyright p {
  border-top: 1px solid rgba(121, 123, 132, 0.5); }

.fab {
  color: #FFFFFF; }

.fa-linkedin-in {
  margin-left: 1rem; }

/*___________________________________________________________________________________________________________________________________________________________ Header Section */
.homepage__header {
  height: 89vh;
  background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url(../img/header-image_330x535.jpg);
  background-image: -webkit-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url(../img/header-image_330x535.jpg);
  background-size: cover;
  background-position: center right;
  position: relative;
  box-shadow: 0rem -1.2rem 4rem rgba(53, 82, 74, 0.4), 0 1rem 1rem rgba(53, 82, 74, 0.5);
  backface-visibility: hidden;
  /* iPad */ }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    .homepage__header {
      height: 85vh; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .homepage__header {
      background-position: bottom right; } }
  @media only screen and (orientation: landscape) {
    .homepage__header {
      background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url(../img/header-image_570x265.jpg); } }
  @media only screen and (orientation: landscape) and (min-width: 991px) and (max-width: 1199px) {
    .homepage__header {
      height: 75vh;
      background-position: left; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.2rem 0.47rem 1rem rgba(53, 82, 74, 0.3);
  position: fixed;
  top: 1.2rem;
  right: 2.5rem;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  backface-visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .navigation__button {
      height: 5rem;
      width: 5rem;
      top: 2rem;
      right: 2.5rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) {
    .navigation__button {
      height: 4rem;
      width: 4rem;
      top: 1.5rem;
      right: 5rem; } }
  @media only screen and (min-width: 1024px) {
    .navigation__button {
      right: 5rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__button {
      height: 7rem;
      width: 7rem;
      top: 3rem;
      right: 5rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .navigation__button {
      height: 8rem;
      width: 8rem;
      top: 4rem;
      right: 10rem; } }

.navigation__nav {
  position: fixed;
  height: 100vh;
  background-color: rgba(85, 139, 110, 0.95);
  top: 0;
  right: 0;
  z-index: 750;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  opacity: 0;
  visibility: hidden; }

.navigation__item-header {
  margin: 3rem;
  /* iPhone X */ }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 991px) {
    .navigation__item-header {
      margin: 0.5rem; } }

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  backface-visibility: hidden;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(left, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  border-radius: 1.4rem;
  background-size: 220%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.navigation__link-header,
.navigation__link-header:link,
.navigation__link-header:visited {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0.9rem;
  /* iPhone X */ }
  @media only screen and (min-width: 768px) {
    .navigation__link-header,
    .navigation__link-header:link,
    .navigation__link-header:visited {
      font-size: 3rem; } }
  @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
    .navigation__link-header,
    .navigation__link-header:link,
    .navigation__link-header:visited {
      font-size: 2rem; } }

.navigation__link-footer,
.navigation__link-footer:link,
.navigation__link-footer:visited {
  font-size: 1.3rem;
  padding: 0.4rem 0.4rem;
  margin-left: -0.4rem; }

.navigation__link:hover {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(53, 82, 74, 0.5); }
  @media only screen and (min-width: 768px) {
    .navigation__link:hover {
      transform: translateY(-0.3rem); } }

.navigation__link:active {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-1px);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.7rem rgba(53, 82, 74, 0.9); }

.navigation__link-footer:hover {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.navigation__link-footer:active {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.9); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
  opacity: 1;
  visibility: visible; }

/* ICON */
.navigation__icon {
  position: relative;
  top: 24%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 768px) {
    .navigation__icon {
      top: 31%; } }
  @media only screen and (min-width: 1024px) {
    .navigation__icon {
      top: 35%; } }
  @media only screen and (min-width: 1200px) {
    .navigation__icon {
      top: 40%; } }

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.1rem;
  background-color: rgba(53, 82, 74, 0.8); }
  @media only screen and (min-width: 768px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
      width: 2.5rem;
      height: 0.2rem; } }
  @media only screen and (min-width: 1024px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
      width: 2.7rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
      width: 4rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1200px) {
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
      width: 5rem; } }

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  -webkit-transition: -webkit-transform  0.7s ease-in-out;
  transition: transform 0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25); }

.navigation__icon::before {
  top: -0.5rem; }
  @media only screen and (min-width: 768px) {
    .navigation__icon::before {
      top: -0.8rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__icon::before {
      top: -1.2rem; } }

.navigation__icon::after {
  top: 0.5rem; }
  @media only screen and (min-width: 768px) {
    .navigation__icon::after {
      top: 0.8rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__icon::after {
      top: 1.2rem; } }

.navigation__button:hover .navigation__icon::before {
  top: -0.6rem; }
  @media only screen and (min-width: 768px) {
    .navigation__button:hover .navigation__icon::before {
      top: -0.9rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__button:hover .navigation__icon::before {
      top: -1.3rem; } }

.navigation__button:hover .navigation__icon::after {
  top: 0.6rem; }
  @media only screen and (min-width: 768px) {
    .navigation__button:hover .navigation__icon::after {
      top: 0.9rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .navigation__button:hover .navigation__icon::after {
      top: 1.3rem; } }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  @media only screen and (max-width: 767px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; } }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  @media only screen and (max-width: 767px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); } }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  @media only screen and (max-width: 767px) {
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-45deg); } }

.page-header {
  height: 10vh;
  background-image: linear-gradient(to bottom, rgba(53, 82, 74, 0.9), rgba(53, 82, 74, 0.5));
  background-size: cover;
  background-position: center right;
  position: relative;
  backface-visibility: hidden; }
  @media only screen and (orientation: landscape) {
    .page-header {
      height: 20vh; } }

.page-title__heading {
  font-size: 2.5rem;
  color: #35384b;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%; }
  @media only screen and (min-width: 375px) {
    .page-title__heading {
      top: 50%; } }
  @media only screen and (orientation: landscape) {
    .page-title__heading {
      font-size: 3.5rem;
      letter-spacing: 1rem; } }
  @media only screen and (min-width: 768px) {
    .page-title__heading {
      font-size: 4.5rem;
      letter-spacing: 2rem; } }
  @media only screen and (min-width: 1024px) {
    .page-title__heading {
      font-size: 8rem;
      letter-spacing: 2rem; } }

.about-page__container {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url(../img/about-bg-img.jpg);
  background-size: cover;
  background-position: right;
  position: relative; }

.about-page__card-container {
  margin-top: 10vh;
  padding: 10vh 0;
  border-radius: 30px;
  background-color: rgba(216, 223, 215, 0.7);
  box-shadow: 9px 8px 20px rgba(74, 78, 105, 0.5); }

.about-page__content {
  color: #35524A; }

.card .about-page__card-img {
  width: 80%; }

.card .about-page__card-body {
  height: 70vh; }

.card .about-page__card-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: #4A4E69; }

.bookings-page {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url(../img/bookings-bg-img.jpg);
  background-size: cover;
  background-position: left;
  position: relative; }
  .bookings-page__container {
    margin: 10rem auto;
    background-color: rgba(216, 223, 215, 0.7);
    width: 90vw;
    border: 0.1rem solid #35524A; }
    @media only screen and (min-width: 768px) {
      .bookings-page__container {
        width: 80vw; } }
    @media only screen and (min-width: 1200px) {
      .bookings-page__container {
        width: 70vw; } }
  .bookings-page__list-background-container {
    padding: 0; }
  .bookings-page__list-container {
    margin: 100px auto;
    background-color: rgba(216, 223, 215, 0.7);
    width: 50vw;
    border: 1px solid #35524A; }
  .bookings-page__table {
    width: 85%;
    margin: 0 27%; }

.form-group {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .form-group {
      width: 75%; } }
  .form-group:first-child {
    margin-top: 3rem; }
    @media only screen and (min-width: 1200px) {
      .form-group:first-child {
        margin-top: 5rem; } }

.label {
  text-transform: uppercase;
  font-size: 1.3rem; }
  @media only screen and (orientation: landscape) {
    .label {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 768px) {
    .label {
      font-size: 2rem; } }

.form-control {
  font-size: 1.3rem; }
  @media only screen and (min-width: 768px) {
    .form-control {
      font-size: 2rem; } }

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 1rem auto 5rem auto;
  height: auto;
  background-color: #FFFFFF; }
  @media only screen and (min-width: 768px) {
    .calendar {
      width: 75%; } }
  .calendar-label {
    width: 100%;
    margin: 3rem auto 1rem;
    text-align: center; }

.date {
  padding: 2.5rem;
  display: grid;
  grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
  grid-template-rows: 3.5rem auto 2rem;
  column-gap: 1rem;
  row-gap: 1.5rem;
  font-size: 1.3rem; }
  @media only screen and (min-width: 768px) {
    .date {
      grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
      font-size: 1.6rem; } }
  @media only screen and (min-width: 1024px) {
    .date {
      grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem; } }
  @media only screen and (orientation: landscape) {
    .date {
      padding: 4.5rem;
      grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem; } }
  @media only screen and (orientation: landscape) and (min-width: 1024px) {
    .date {
      padding: 4.5rem;
      grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem; } }
  @media only screen and (min-width: 1200px) {
    .date {
      grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem; } }
  @media only screen and (min-width: 1800px) {
    .date {
      grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
      grid-template-rows: 6rem auto 2rem; } }

.day, .number {
  text-align: center; }

.number:link,
.number:visited {
  color: #000000;
  text-decoration: none; }

.number:hover {
  background-color: #35524A;
  color: white;
  cursor: pointer; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    width: 100%; }
  .popup__close:link, .popup__close:visited {
    display: inline-block;
    color: #FFFFFF;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 25px; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, rgba(53, 82, 74, 0.2), rgba(74, 78, 105, 0.8)), url(../img/header-image_330x535.jpg);
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    width: 90%;
    border-radius: 3rem;
    box-shadow: 0.2rem 0.2rem 1.5rem rgba(255, 255, 255, 0.2); }
    @media only screen and (orientation: landscape) {
      .popup__content {
        background-image: linear-gradient(to bottom right, rgba(53, 82, 74, 0.2), rgba(74, 78, 105, 0.8)), url(../img/header-image_570x265.jpg);
        height: 75vh;
        width: 65%; } }
    @media only screen and (orientation: landscape) and (min-width: 1024px) {
      .popup__content {
        height: 55vh;
        width: 60%; } }
    @media only screen and (min-width: 1500px) {
      .popup__content {
        height: 60vh;
        width: 50%; } }
  .popup__text {
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .popup__text-secondary {
      font-size: 30px;
      color: #FFFFFF;
      text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
      position: absolute;
      top: 40%;
      left: 15%;
      transform: translateX(-6%); }

.contact-page__map {
  display: flex;
  justify-content: center;
  margin-top: 5vh; }

.contact-page__location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 12%; }

.address {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%; }

.therapies {
  background-color: #D8DfD7;
  margin-top: 3rem;
  padding: 2rem 0 0 0;
  box-shadow: 0 -1rem 6rem rgba(53, 82, 74, 0.25), 0 1rem 6rem rgba(53, 82, 74, 0.25); }
  @media only screen and (min-width: 768px) {
    .therapies {
      background-color: #D8DfD7;
      margin-top: 6rem;
      padding: 5rem 0;
      box-shadow: 0 -1rem 6rem rgba(74, 78, 105, 0.25), 0 1rem 6rem rgba(74, 78, 105, 0.25); } }

.no-margin {
  margin: 0; }

.therapies-box__image {
  border: 0.3rem solid rgba(74, 78, 105, 0.25);
  box-shadow: 0 0.6rem 2.3rem rgba(74, 78, 105, 0.5); }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 1199px) {
    .therapies-box__image {
      width: 80%;
      margin-left: 10%; } }

.therapies-box__content {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4A4E69;
  overflow: auto;
  height: 30rem; }

.therapies_row2 {
  padding-top: 0; }
  @media only screen and (min-width: 768px) {
    .therapies_row2 {
      padding-top: 4rem; } }

.customer-feedback {
  background-color: #FFFFFF;
  margin-top: 3rem;
  box-shadow: 0 -1.1rem 1.1rem rgba(74, 78, 105, 0.1); }
  @media only screen and (min-width: 768px) {
    .customer-feedback {
      margin-top: 6rem;
      padding: 5rem 0; } }
  .customer-feedback__image {
    width: 90%;
    margin: auto; }
    @media only screen and (orientation: landscape) {
      .customer-feedback__image {
        width: 60%;
        margin-left: 20%; } }
    @media only screen and (min-width: 900px) {
      .customer-feedback__image {
        width: 100%;
        margin: 0; } }
  .customer-feedback__content {
    font-size: 1.5rem; }
  @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 1199px) {
    .customer-feedback__card-body {
      margin: 0 6rem; } }
  .customer-feedback__username {
    font-size: 1.4rem;
    color: #2a2d3c; }
  .customer-feedback__date {
    color: #4A4E69; }

.rating {
  float: right; }

.gold-star {
  color: gold; }

.price-list-page {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url(../img/prices-bg-img.jpg);
  background-size: cover;
  background-position: left;
  position: absolute; }
  .price-list-page__list-background-container {
    padding: 0; }
  .price-list-page__list-container {
    margin: 100px auto;
    background-color: rgba(216, 223, 215, 0.7);
    width: 90vw;
    padding: 0 1rem;
    border: 1px solid #35524A; }
    @media only screen and (min-width: 1200px) {
      .price-list-page__list-container {
        width: 50vw; } }
  .price-list-page__table {
    display: table;
    text-align: center;
    font-size: 1.3rem; }
    @media only screen and (min-width: 992px) {
      .price-list-page__table {
        font-size: 2rem; } }

.heading-secondary-price-list {
  font-size: 35px;
  margin-bottom: 30px;
  color: #35524A;
  padding-top: 5vh; }
  .heading-secondary-price-list:not(:first-child) {
    padding-top: 5vh; }

.heading-tertiary-price-list {
  font-size: 22px;
  color: #4A4E69;
  margin-bottom: 10px; }

table {
  border-collapse: separate;
  border-spacing: 9px; }

.table {
  margin-bottom: 30px; }

th ~ .border-left, th ~ .border-none, td ~ .border-left {
  padding-left: 0; }

tr {
  height: 2rem; }

.therapies-page {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1)), url(../img/therapies-bg-img.jpg);
  background-size: 150%;
  background-position: top center;
  position: absolute; }
  .therapies-page__container {
    width: 90%;
    margin: 0 5%;
    padding: 0; }
  .therapies-page__inner-container {
    margin: 7rem auto;
    background-color: rgba(216, 223, 215, 0.7);
    border: 1px solid #35524A;
    padding: 2rem 2rem; }
    @media only screen and (min-width: 768px) {
      .therapies-page__inner-container {
        margin: 10rem auto;
        padding: 2rem 5rem; } }
  .therapies-page__content, .therapies-page__table {
    font-size: 1.3rem; }
    @media only screen and (min-width: 992px) {
      .therapies-page__content, .therapies-page__table {
        font-size: 2rem; } }
  .therapies-page__table {
    display: table;
    text-align: center; }

table {
  border-collapse: separate;
  border-spacing: 9px; }

th ~ .border-left, th ~ .border-none, td ~ .border-left {
  padding-left: 0; }

tr {
  height: 2rem; }
