/* Homepage Hero Text */
@keyframes inAndOut {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

:root {
  font-size: 10px; }

*, .container-fluid {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.heading-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: inAndOut 3s linear;
  color: #35524A;
  font-size: 3.4rem;
  font-weight: 700;
  left: 52%;
  letter-spacing: 1rem;
  opacity: 0;
  text-shadow: 0.3rem 0.1rem 0.6rem rgba(74, 78, 105, 0.5);
  text-transform: uppercase; }

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 300;
  left: 47%;
  letter-spacing: 1rem;
  text-shadow: 0.5rem 0.4rem 0.5rem #35524A;
  text-transform: uppercase; }

.heading-primary__main, .heading-primary__sub1 {
  display: block;
  opacity: 0;
  padding-bottom: 3rem; }

.heading-primary__main {
  animation: slideUp 1.75s linear 2.6s forwards;
  -webkit-animation: slideUp 1.5s linear 2.6s forwards; }

.heading-primary__sub1 {
  animation: slideUp 1.75s linear 3.5s forwards;
  -webkit-animation: slideUp 1.5s linear 3.2s forwards; }

.heading-primary__sub2 {
  animation: slideUp 1.75s linear 4.3s backwards;
  display: block;
  -webkit-animation: slideUp 1.5s linear 4s backwards; }

.heading-secondary {
  color: #35524A;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase; }
  .heading-secondary__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2.5rem;
    text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
    top: 25%; }

.heading-tertiary {
  color: #4A4E69;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase; }
  .heading-tertiary__therapies {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-bottom: 1px solid rgba(74, 78, 105, 0.5); }
  .heading-tertiary__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 52%;
    font-size: 1.6rem;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(53, 82, 74, 0.8);
    width: 100%; }

.btn-text:link, .btn-text:visited {
  backface-visibility: hidden;
  bottom: 1rem;
  color: #558B6E;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  text-decoration: none;
  transition: all 0.15s;
  -webkit-transition: all 0.15s; }

.btn-text:hover {
  background-color: #558B6E;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  transform: translateY(-0.3rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0rem); }

.btn__wrapper {
  position: relative; }

.btn-link:hover {
  text-decoration: none; }

.btn-booking {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: radial-gradient(circle at center, rgba(53, 82, 74, 0.7) 5%, rgba(53, 82, 74, 0.9));
  color: #FFFFFF;
  border: 0.2rem solid #FFFFFF;
  box-shadow: 0 0 0.5rem #35524A;
  border-radius: 3rem;
  backface-visibility: hidden;
  transition: all 0.2s; }
  @media only screen and (min-width: 768px) {
    .btn-booking {
      font-size: 2rem; } }
  .btn-booking:hover {
    background-color: #558B6E;
    color: #FFFFFF;
    transform: translate(-50%, -60%);
    box-shadow: 0 1rem 2rem rgba(53, 82, 74, 0.5); }
  .btn-booking:active {
    background-color: #35524A;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.7rem rgba(53, 82, 74, 0.9); }
  .btn-booking__index {
    transform: translate(-50%, -25%); }
    .btn-booking__index:hover {
      transform: translate(-50%, -30%); }
    .btn-booking__index:active {
      transform: translate(-50%, -25%); }
  .btn-booking__popup {
    font-size: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .btn-booking__popup {
        font-size: 2.6rem; } }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
      .btn-booking__popup {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 1024px) {
      .btn-booking__popup {
        font-size: 2.7rem; } }

.card {
  background-color: transparent;
  border: none;
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
  border-radius: 2rem;
  overflow: auto; }
  .card-footer {
    background-color: transparent;
    border: none; }
  .card-body__about {
    width: 110%;
    margin-left: -5%; }
  .card-img {
    width: 100%;
    margin: 0 0%;
    border-radius: 3rem; }
    .card-img__therapies {
      border: 0.3rem solid rgba(74, 78, 105, 0.25);
      box-shadow: 0 0.6rem 2.3rem rgba(74, 78, 105, 0.5); }
  .card-text {
    align-items: center;
    color: #4A4E69;
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem auto;
    min-height: 25rem;
    overflow: auto; }
    .card-text__therapies-home {
      min-height: 18rem;
      overflow: auto; }
    .card-text__about {
      min-height: 35rem; }
    .card-text__contact {
      min-height: 1rem;
      text-align: center;
      justify-content: center; }
    .card-text__contact a {
      color: #4A4E69;
      text-decoration: none; }
  .card-individual__image {
    width: 90%;
    margin: 0 5%; }
  .card__customer-feedback {
    background-color: #FFFFFF;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4); }
  .card__contact {
    width: 100%; }

.logo-box {
  position: absolute;
  top: 1.4rem;
  left: 2rem; }

.logo {
  height: 3rem; }

.footer {
  background: rgba(53, 82, 74, 0.9);
  color: #FFFFFF;
  padding-top: 3rem; }
  .footer__heading {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgba(121, 123, 132, 0.5);
    border-width: thin; }
    .footer__heading--margin {
      margin-top: 3rem; }
  .footer__text {
    font-weight: 400;
    font-size: 1.3rem; }
    .footer__text--centred {
      margin-left: 1rem; }
  .footer__text a {
    color: #FFFFFF;
    text-decoration: none; }

.footer__location i {
  font-size: 1.3rem; }

.navigation__item-footer {
  list-style-type: none; }

.copyright p {
  border-top: 0.1rem solid rgba(121, 123, 132, 0.5); }

.fab {
  color: #FFFFFF; }

.fa-linkedin-in {
  margin-left: 1rem; }

.homepage__header {
  height: 85vh;
  background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978497/Milestone%201/header-image_330x535_fxh6jg.jpg");
  background-image: -webkit-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978497/Milestone%201/header-image_330x535_fxh6jg.jpg");
  background-size: cover;
  background-position: bottom right;
  position: relative;
  box-shadow: 0rem -1.2rem 4rem rgba(53, 82, 74, 0.4), 0 1rem 1rem rgba(53, 82, 74, 0.5);
  backface-visibility: hidden; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.2rem 0.47rem 1rem rgba(53, 82, 74, 0.3);
  position: fixed;
  top: 1.2rem;
  right: 2.5rem;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
  backface-visibility: hidden; }

.navigation__nav {
  position: fixed;
  height: 100vh;
  background-color: rgba(85, 139, 110, 0.95);
  top: 0;
  right: 0;
  z-index: 750;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  opacity: 0;
  visibility: hidden; }

.navigation__item-header {
  margin: 3rem; }

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  backface-visibility: hidden;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(left, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  border-radius: 1.4rem;
  background-size: 220%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.navigation__link-header,
.navigation__link-header:link,
.navigation__link-header:visited {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0.9rem; }

.navigation__link-footer,
.navigation__link-footer:link,
.navigation__link-footer:visited {
  font-size: 1.3rem;
  padding: 0.4rem 0.4rem;
  margin-left: -0.4rem; }

.navigation__link:hover {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(53, 82, 74, 0.5); }

.navigation__link:active {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.7rem rgba(53, 82, 74, 0.9); }

.navigation__link-footer:hover {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.navigation__link-footer:active {
  color: #558B6E;
  background-position: 100%;
  -webkit-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.9); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  top: 24%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: inline-block;
  width: 1.8rem;
  height: 0.1rem;
  background-color: rgba(53, 82, 74, 0.8); }

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  -webkit-transition: -webkit-transform  0.7s ease-in-out;
  transition: transform 0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25); }

.navigation__icon::before {
  top: -0.5rem; }

.navigation__icon::after {
  top: 0.5rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.6rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.6rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.page-header {
  height: 11vh;
  background-image: linear-gradient(to bottom, rgba(53, 82, 74, 0.9), rgba(53, 82, 74, 0.5));
  background-size: cover;
  background-position: center right;
  position: relative;
  backface-visibility: hidden; }

.page-title__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%; }

.about-page__container {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/about-bg-img_eagexh.jpg");
  background-position: top center;
  background-size: cover;
  padding: 0;
  position: relative; }

.about-page__content {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
  color: #4A4E69;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 5%;
  padding: 1rem;
  width: 90%; }

.about-page__card-container {
  background-color: rgba(216, 223, 215, 0.7);
  border-radius: 3rem;
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
  margin: 10vh auto;
  padding: 10vh 0; }

.about-page__inner-container {
  background-color: rgba(216, 223, 215, 0.5);
  border-radius: 2rem;
  box-shadow: 0.9rem 0.8rem 2rem rgba(74, 78, 105, 0.5);
  margin: 8rem 0%;
  padding: 2rem;
  width: 100%; }

.bookings-page {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978497/Milestone%201/bookings-bg-img_gt4vjb.jpg");
  background-position: left;
  background-size: cover;
  padding: 0;
  position: relative; }
  .bookings-page__container {
    background-color: rgba(216, 223, 215, 0.7);
    border: 0.1rem solid #35524A;
    margin: 10rem auto;
    width: 90vw; }
  .bookings-page__list-background-container {
    padding: 0; }
  .bookings-page__list-container {
    background-color: rgba(216, 223, 215, 0.7);
    border: 0.1rem solid #35524A;
    margin: 10rem auto;
    width: 50vw; }
  .bookings-page__table {
    margin: 0 27%;
    width: 85%; }

.form-group {
  margin: 0 auto;
  padding-bottom: 3rem;
  width: 90%; }

.label {
  font-size: 1.5rem;
  text-transform: uppercase; }

.form-control {
  font-size: 1.5rem; }

.form-text {
  font-size: 1rem; }

.calendar {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 1rem auto 5rem auto;
  width: 90%; }
  .calendar__label {
    margin: 3rem auto 1rem;
    text-align: center;
    width: 100%; }
  .calendar__month {
    color: #4A4E69;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 2rem 0 -5rem;
    text-align: center;
    text-transform: uppercase; }

.date {
  backface-visibility: hidden;
  column-gap: 1rem;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
  grid-template-rows: 3.5rem auto 2.5rem;
  padding: 2.5rem;
  row-gap: 1.5rem; }

.day, .number {
  text-align: center; }

.number:link,
.number:visited {
  color: #000000;
  text-decoration: none; }

.number:hover {
  background-color: #35524A;
  color: white;
  cursor: pointer;
  margin-left: 25%;
  width: 50%; }

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in;
  visibility: hidden;
  z-index: 5000; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    width: 100%; }
  .popup__close:link, .popup__close:visited {
    color: #FFFFFF;
    display: inline-block;
    font-size: 4rem;
    position: absolute;
    right: 2.5rem;
    text-decoration: none;
    top: 0.5rem; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, rgba(53, 82, 74, 0.2), rgba(74, 78, 105, 0.8)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978497/Milestone%201/header-image_330x535_fxh6jg.jpg");
    background-position: bottom;
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0.2rem 0.2rem 1.5rem rgba(255, 255, 255, 0.2);
    height: 40vh;
    width: 90%; }
  .popup__text {
    color: #FFFFFF;
    left: 50%;
    position: absolute;
    text-shadow: 0.2rem 0.2rem rgba(53, 82, 74, 0.8);
    top: 25%;
    transform: translate(-50%, -50%); }
    .popup__text-secondary {
      color: #FFFFFF;
      font-size: 3rem;
      left: 15%;
      position: absolute;
      text-shadow: 0.2rem 0.2rem rgba(53, 82, 74, 0.8);
      top: 40%;
      transform: translateX(-6%); }

.contact-page__map {
  display: flex;
  justify-content: center;
  margin-top: 5vh; }

.contact-page__location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 12%; }

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 30rem; }

.map-responsive iframe {
  height: 30rem;
  width: 100%; }

.therapies {
  background-color: #D8DfD7;
  margin-top: 3rem;
  padding: 2rem 0 3rem 0;
  box-shadow: 0 -1rem 6rem rgba(53, 82, 74, 0.25), 0 1rem 6rem rgba(53, 82, 74, 0.25); }

.no-margin {
  margin: 0; }

.therapies_row2 {
  padding-top: 0; }

.customer-feedback {
  background-color: #D8DfD7;
  margin-top: 3rem; }
  .customer-feedback__username {
    font-size: 1.4rem;
    color: #2a2d3c; }
  .customer-feedback__date {
    color: #4A4E69; }

.rating {
  float: right; }

.gold-star {
  color: gold; }

.price-list-page {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.8)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/prices-bg-img_r56pp6.jpg");
  background-size: cover;
  background-position: left;
  position: absolute; }

.prices-background-container {
  padding: 0; }

.prices-inner-container {
  margin: 10rem auto;
  background-color: rgba(216, 223, 215, 0.7);
  width: 90vw;
  padding: 0 1rem;
  border: 0.1rem solid #35524A; }

.therapies-page {
  padding: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/therapies-bg-img_rspvuh.jpg");
  background-size: 150%;
  background-position: top center;
  position: absolute; }
  .therapies-page__container {
    width: 90%;
    margin: 0 5%;
    padding: 0; }
  .therapies-page__inner-container {
    margin: 7rem auto;
    background-color: rgba(216, 223, 215, 0.7);
    border: 0.1rem solid #35524A;
    padding: 2rem 2rem; }
  .therapies-page__content {
    color: #4A4E69;
    font-size: 1.5rem;
    font-weight: 400;
    overflow: auto; }

.prices {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 5rem; }
  .prices-heading {
    font-weight: bold;
    margin-top: 2rem; }
  .prices-content {
    margin-top: 2rem; }

@media only screen and (orientation: landscape) {
  .logo-box {
    top: 1.5rem; } }

@media only screen and (min-width: 768px) {
  .logo-box {
    top: 2rem; } }

@media only screen and (min-width: 992px) {
  .logo-box {
    top: 3rem; } }

@media only screen and (min-width: 1200px) {
  .logo-box {
    top: 4rem;
    left: 4rem; } }

@media only screen and (min-width: 768px) {
  .logo {
    height: 4rem; } }

@media only screen and (min-width: 992px) {
  .logo {
    height: 5rem; } }

@media only screen and (orientation: landscape) {
  .homepage__header {
    background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg"); } }

@media only screen and (min-width: 768px) and (max-width: 1499px) {
  .homepage__header {
    background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
    background-position: bottom right; } }

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
  .homepage__header {
    background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg"); } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .homepage__header {
    background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg"); } }

@media only screen and (min-width: 768px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2.5rem; } }

@media only screen and (min-width: 992px) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
    right: 5rem; } }

@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 991px) {
  .navigation__item-header {
    margin: 0.5rem; } }

@media only screen and (min-width: 768px) {
  .navigation__link-header,
  .navigation__link-header:link,
  .navigation__link-header:visited {
    font-size: 3rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
  .navigation__link-header,
  .navigation__link-header:link,
  .navigation__link-header:visited {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) {
  .navigation__link:hover {
    transform: translateY(-0.3rem); } }

@media only screen and (min-width: 768px) {
  .navigation__icon {
    top: 31%; } }

@media only screen and (min-width: 768px) {
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 2.5rem;
    height: 0.2rem; } }

@media only screen and (min-width: 768px) {
  .navigation__icon::before {
    top: -0.8rem; } }

@media only screen and (min-width: 768px) {
  .navigation__icon::after {
    top: 0.8rem; } }

@media only screen and (min-width: 768px) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.9rem; } }

@media only screen and (min-width: 768px) {
  .navigation__button:hover .navigation__icon::after {
    top: 0.9rem; } }

@media only screen and (orientation: landscape) {
  .heading-open {
    left: 38%; } }

@media only screen and (min-width: 768px) {
  .heading-open {
    font-size: 7.5rem;
    left: 52%;
    letter-spacing: 1.7rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-open {
    font-size: 3.4rem;
    left: 35%;
    letter-spacing: 1rem; } }

@media only screen and (min-width: 992px) {
  .heading-open {
    left: 44%;
    text-shadow: 0.5rem 0.4rem 0.5rem rgba(74, 78, 105, 0.5); } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .heading-open {
    font-size: 6.5rem;
    left: 37%;
    letter-spacing: 1.7rem; } }

@media only screen and (min-width: 1200px) {
  .heading-open {
    font-size: 7.5rem;
    left: 33%; } }

@media only screen and (min-width: 1500px) {
  .heading-open {
    left: 31%; } }

@media only screen and (orientation: landscape) {
  .heading-primary {
    left: 35%; } }

@media only screen and (min-width: 768px) {
  .heading-primary {
    font-size: 6rem;
    left: 45%;
    letter-spacing: 1.7rem; } }

@media only screen and (min-width: 992px) {
  .heading-primary {
    left: 38%; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-primary {
    font-size: 3rem;
    letter-spacing: 1rem;
    left: 33%; } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .heading-primary {
    font-size: 6rem;
    letter-spacing: 1.7rem;
    left: 34%; } }

@media only screen and (min-width: 1200px) {
  .heading-primary {
    left: 29%; } }

@media only screen and (min-width: 1500px) {
  .heading-primary {
    font-size: 7rem;
    letter-spacing: 1.7rem; } }

@media only screen and (min-width: 992px) {
  .heading-primary__main, .heading-primary__sub1 {
    padding-bottom: 5rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-primary__main, .heading-primary__sub1 {
    padding-bottom: 3.5rem; } }

@media only screen and (min-width: 1200px) {
  .heading-primary__main, .heading-primary__sub1 {
    padding-bottom: 7rem; } }

@media only screen and (min-width: 768px) {
  .heading-secondary {
    font-size: 4.2rem;
    letter-spacing: 1rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-secondary {
    font-size: 2.5rem; } }

@media only screen and (min-width: 992px) {
  .heading-secondary {
    font-size: 5rem; } }

@media only screen and (min-width: 900px) {
  .heading-secondary__bookings {
    margin-bottom: 4rem; } }

@media only screen and (min-width: 768px) {
  .heading-secondary__popup {
    font-size: 4.5rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-secondary__popup {
    font-size: 3.5rem; } }

@media only screen and (min-width: 1024px) {
  .heading-secondary__popup {
    font-size: 6rem; } }

@media only screen and (min-width: 1500px) {
  .heading-secondary__popup {
    font-size: 8rem; } }

@media only screen and (min-width: 768px) {
  .heading-tertiary {
    font-size: 3.2rem;
    letter-spacing: 1rem; } }

@media only screen and (min-width: 992px) {
  .heading-tertiary {
    font-size: 3.7rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-tertiary {
    font-size: 2.2rem; } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .heading-tertiary {
    font-size: 3.2rem; } }

@media only screen and (orientation: landscape) and (min-width: 1200px) {
  .heading-tertiary {
    font-size: 2.7rem; } }

@media only screen and (min-width: 1200px) {
  .heading-tertiary__therapies-home {
    display: block; } }

@media only screen and (min-width: 768px) {
  .heading-tertiary__popup {
    font-size: 3.2rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .heading-tertiary__popup {
    font-size: 2.1rem; } }

@media only screen and (min-width: 1024px) {
  .heading-tertiary__popup {
    font-size: 4.2rem; } }

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .heading-tertiary__popup {
    font-size: 3.2rem; } }

@media only screen and (orientation: landscape) and (min-width: 1200px) {
  .heading-tertiary__popup {
    font-size: 4.2rem; } }

@media only screen and (min-width: 1500px) {
  .heading-tertiary__popup {
    font-size: 5rem; } }

@media only screen and (orientation: landscape) {
  .card {
    width: 80%;
    margin-left: 10%; } }

@media only screen and (min-width: 768px) {
  .card {
    width: 70%;
    margin-left: 15%; } }

@media only screen and (min-width: 1200px) {
  .card {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0; } }

@media only screen and (orientation: landscape) {
  .card-img {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 768px) {
  .card-img {
    width: 70%;
    margin: 0 15%; } }

@media only screen and (min-width: 1500px) {
  .card-img {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 768px) {
  .card-text {
    font-size: 2rem;
    margin: 2rem 5%;
    min-height: 29rem;
    width: 90%; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .card-text {
    font-size: 1.5rem;
    margin: 2rem auto;
    min-height: 16rem; } }

@media only screen and (min-width: 992px) {
  .card-text {
    min-height: 23rem; } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .card-text {
    font-size: 2rem;
    min-height: 30rem; } }

@media only screen and (min-width: 1200px) {
  .card-text {
    min-height: 36rem; } }

@media only screen and (min-width: 1500px) {
  .card-text {
    font-size: 1.6rem;
    margin: 3rem 5%;
    min-height: 20rem;
    width: 90%; } }

@media only screen and (orientation: landscape) and (min-width: 1200px) {
  .card-text__about {
    font-size: 2rem; } }

.card-text__contact {
  min-height: 0; }

@media only screen and (min-width: 1200px) {
  .card__customer-feedback {
    width: 70%; }
    .card__customer-feedback-left {
      margin: 3rem 25%; }
    .card__customer-feedback-right {
      margin: 3rem 5%; } }

@media only screen and (min-width: 992px) {
  .card__therapies {
    width: 80%;
    margin: 2rem 10%; } }

@media only screen and (min-width: 1200px) {
  .card__therapies {
    width: 100%;
    margin: 2rem 0%; } }

@media only screen and (orientation: landscape) {
  .card-individual__image {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 768px) {
  .card-individual__image {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 1024px) {
  .card-individual__image {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (orientation: landscape) and (min-width: 1200px) {
  .card-individual__image {
    margin: 0 10%;
    width: 80%; } }

@media only screen and (min-width: 768px) {
  .card-body__about {
    width: 120%;
    margin-left: -10%; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .card-body__about {
    width: 110%;
    margin-left: -5%; } }

@media only screen and (min-width: 1024px) {
  .card-body__about {
    width: 100%;
    margin-left: 0%; } }

@media only screen and (min-width: 1200px) {
  .card-body__about {
    width: 100%;
    margin-left: 0%; } }

@media only screen and (orientation: landscape) {
  .card__about {
    width: 96%;
    margin-left: 2%; } }

@media only screen and (min-width: 768px) {
  .card__about {
    width: 90%;
    margin-left: 5%; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .card__about {
    width: 94%;
    margin-left: 3%; } }

@media only screen and (min-width: 992px) {
  .card__about {
    width: 78%;
    margin-left: 11%; } }

@media only screen and (min-width: 1500px) {
  .card__about {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3rem; } }

.card__contact {
  width: 100%;
  margin: 3rem 0%; }

@media only screen and (min-width: 768px) {
  .btn-text:link, .btn-text:visited {
    font-size: 2rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .btn-text:link, .btn-text:visited {
    font-size: 1.5rem; } }

@media only screen and (min-width: 992px) {
  .btn-text:link, .btn-text:visited {
    font-size: 2rem; } }

@media only screen and (min-width: 1500px) {
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem; } }

.btn-text:hover {
  background-color: #558B6E;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  transform: translateY(-0.3rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transform: translateY(0rem); }

@media only screen and (min-width: 1200px) {
  .footer {
    margin-top: 0; } }

@media only screen and (min-width: 992px) {
  .footer__heading--margin {
    margin-top: 0; } }

@media only screen and (orientation: landscape) {
  .page-header {
    height: 20vh; } }

@media only screen and (min-width: 1200px) {
  .page-header {
    height: 11vh; } }

@media only screen and (min-width: 375px) {
  .page-title__heading {
    top: 50%; } }

@media only screen and (orientation: landscape) {
  .page-title__heading {
    font-size: 3.5rem;
    letter-spacing: 1rem; } }

@media only screen and (min-width: 768px) {
  .page-title__heading {
    font-size: 4.5rem;
    letter-spacing: 2rem; } }

@media only screen and (min-width: 1024px) {
  .page-title__heading {
    font-size: 8rem;
    letter-spacing: 2rem; } }

@media only screen and (min-width: 768px) {
  .about-page__inner-container {
    width: 80%;
    margin: 8rem 10%; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .about-page__inner-container {
    width: 90%;
    margin: 8rem 5%; } }

@media only screen and (min-width: 1024px) {
  .about-page__inner-container {
    width: 110%;
    margin: 8rem -5%; } }

@media only screen and (min-width: 1200px) {
  .about-page__inner-container {
    width: 90%;
    margin: 8rem 5%; } }

@media only screen and (min-width: 768px) {
  .about-page__content {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) {
  .bookings-page__container {
    width: 80vw; } }

@media only screen and (min-width: 1200px) {
  .bookings-page__container {
    width: 60vw; } }

@media only screen and (min-width: 768px) {
  .form-group {
    width: 75%; } }

.form-group:first-child {
  margin-top: 3rem; }
  @media only screen and (min-width: 1200px) {
    .form-group:first-child {
      margin-top: 5rem; } }

@media only screen and (min-width: 1500px) {
  .form-group {
    width: 60%; } }

@media only screen and (min-width: 768px) {
  .label, .date, .calendar__month {
    font-size: 2rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .label, .date, .calendar__month {
    font-size: 1.5rem; } }

@media only screen and (min-width: 1500px) {
  .label, .date, .calendar__month {
    font-size: 1.6rem; } }

@media only screen and (min-width: 768px) {
  .form-control {
    font-size: 2rem; } }

@media only screen and (min-width: 992px) {
  .form-text {
    font-size: 1.2rem; } }

@media only screen and (min-width: 768px) {
  .calendar {
    width: 75%; } }

@media only screen and (min-width: 1500px) {
  .calendar {
    width: 60%; } }

@media only screen and (min-width: 768px) {
  .date {
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem; } }

@media only screen and (min-width: 1024px) {
  .date {
    grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem; } }

@media only screen and (orientation: landscape) {
  .date {
    padding: 4.5rem;
    grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem; } }

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .date {
    padding: 4.5rem;
    grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem; } }

@media only screen and (min-width: 1200px) {
  .date {
    grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem; } }

@media only screen and (min-width: 1800px) {
  .date {
    grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    grid-template-rows: 6rem auto 2rem; } }

@media only screen and (orientation: landscape) {
  .popup__content {
    background-image: linear-gradient(to bottom right, rgba(53, 82, 74, 0.2), rgba(74, 78, 105, 0.8)), url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
    height: 75vh;
    width: 65%; } }

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .popup__content {
    height: 55vh;
    width: 60%; } }

@media only screen and (min-width: 1500px) {
  .popup__content {
    height: 60vh;
    width: 50%; } }

@media only screen and (min-width: 1024px) {
  .map-responsive {
    height: 50rem; } }

@media only screen and (orientation: landscape) {
  .map-responsive iframe {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 768px) {
  .map-responsive iframe {
    width: 80%;
    margin: 0 10%; } }

@media only screen and (min-width: 1024px) {
  .map-responsive iframe {
    height: 50rem; } }

@media only screen and (min-width: 768px) {
  .therapies {
    margin-top: 6rem;
    padding: 5rem 0 6rem; } }

@media only screen and (min-width: 1200px) {
  .therapies {
    margin-top: 6rem;
    padding: 5rem 0 8rem; } }

@media only screen and (min-width: 768px) {
  .therapies_row2 {
    padding-top: 4rem; } }

@media only screen and (min-width: 768px) {
  .customer-feedback {
    margin-top: 6rem;
    padding: 5rem 0; } }

@media only screen and (min-width: 768px) {
  .customer-feedback__username {
    width: 90%;
    margin: 0 5%; } }

@media only screen and (min-width: 1500px) {
  .customer-feedback__username {
    width: 100%;
    margin: 0; } }

@media only screen and (min-width: 1200px) {
  .price-list-page__list-container {
    width: 50vw; } }

@media only screen and (min-width: 992px) {
  .price-list-page__table {
    font-size: 2rem; } }

@media only screen and (min-width: 768px) {
  .therapies-page__inner-container {
    margin: 10rem auto;
    padding: 2rem 5rem; } }

@media only screen and (min-width: 768px) {
  .therapies-page__content {
    font-size: 2rem; } }

@media only screen and (orientation: landscape) and (min-width: 768px) {
  .therapies-page__content {
    font-size: 1.5rem; } }

@media only screen and (orientation: landscape) and (min-width: 992px) {
  .therapies-page__content {
    font-size: 2rem; } }

@media only screen and (min-width: 1500px) {
  .therapies-page__content {
    font-size: 1.6rem; } }
