.footer {
    background: rgba($color-dark-green, 0.9);
    color:$color-white;
    padding-top: 3rem;

    &__heading {
      color: $color-white;
      font-weight: 700;
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid rgba($color-light-gray, 0.5);
      border-width: thin;

        &--margin {
          margin-top: 3rem;
      }
  }

  &__text {
    font-weight: 400;
    font-size: 1.3rem;

    &--centred {
      margin-left: 1rem;
    }
  }

  &__text a {
    color: $color-white;
    text-decoration: none;
  }

}

.footer__location i {
  font-size: 1.3rem;
}

.navigation {

  &__item-footer {
    list-style-type: none;
  }
}

.copyright p {
  border-top: 0.1rem solid rgba($color-light-gray, 0.5);
} 

.fab {
  color: $color-white;
}

.fa-linkedin-in {
  margin-left: 1rem;
}