.footer {
    background: rgba($color-dark-green, 0.9);
    color:$color-white;
    margin-top: 1rem;
    padding-top: 3rem;

    &__heading {
      color: $color-white;
      font-weight: 700;
      font-size: 2.5rem;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba($color-light-gray, 0.5);
      border-width: thin;

        &--margin {
          margin-top: 3rem;

          // Desktop //
          @media only screen and (min-width: 1200px) {
            margin-top: 0;
        }

      }
  }

  &__text {
    font-weight: 400;
    font-size: $mobile-font-size__portrait;
  }


  .footer__text a {
    color: $color-medium-green;
    text-decoration: none;
    font-size: 1.7rem;
  }

}

.footer__location i {
  font-size: 1.4rem;
}



.navigation {

  &__item-footer {
    list-style-type: none;
  }
}

.copyright p {
  border-top:1px solid rgba($color-light-gray, 0.5);
} 

.fab {
  color: $color-white;
}

.fa-linkedin-in {
  margin-left: 1rem;
}

  // ul {list-style-type: none;}
  // li a{
  //   color: $color-white;
  //   transition: color .2s;
  // }


    // .opening-hours{
    //   i{font-size: 25px;}
    //   a{
    //     color:white;
    //     transition: color .2s;
    //     &:hover{color:#4180CB}
    //   }
    // }