.logo-box {
    @media only screen and (orientation: landscape) {
        top: 1.5rem;
    }

    @media only screen and (min-width: 768px) {
        top: 2rem;
    }

    @media only screen and (min-width: 992px) {
        top: 3rem;
    }

    @media only screen and (min-width: 1200px) {
        left: 4rem;
        top: 4rem;
    }
}
.logo {
    @media only screen and (min-width: 768px) {
        height: 4rem;
    }
    @media only screen and (min-width: 992px) {
        height: 5rem;
    }
}


// S T A R T  O F  H O M E P A G E  H E A D E R  A N D  N A V I G A T I O N

.homepage__header {
    @media only screen and (orientation: landscape) {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(53, 82, 74, 0.7)), color-stop(67%, rgba(53, 82, 74, 0.1)), to(rgba(216, 223, 215, 0))), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: -o-linear-gradient(left, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
    }
  
    @media only screen and (min-width: 768px) and (max-width: 1499px) {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(53, 82, 74, 0.7)), color-stop(67%, rgba(53, 82, 74, 0.1)), to(rgba(216, 223, 215, 0))), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
        background-image: -o-linear-gradient(left, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
        background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
        background-position: bottom right;
    }
  
    // Readjust back to the original image for iPhone X in landscape orientation
    @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(53, 82, 74, 0.7)), color-stop(67%, rgba(53, 82, 74, 0.1)), to(rgba(216, 223, 215, 0))), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: -o-linear-gradient(left, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
    }
  
    // Readjust back to the original image for iPhone X in landscape orientation
    @media only screen and (orientation: landscape) and (min-width: 992px)  {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(53, 82, 74, 0.7)), color-stop(67%, rgba(53, 82, 74, 0.1)), to(rgba(216, 223, 215, 0))), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
        background-image: -o-linear-gradient(left, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
        background-image: linear-gradient(to right, rgba(53, 82, 74, 0.7) 10%, rgba(53, 82, 74, 0.1) 67%, rgba(216, 223, 215, 0) 100%), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/header-image_1366x1024_tbyawy.jpg");
    }
}

.navigation__button {
    
    @media only screen and (min-width: 768px) {
        height: 4rem;
        right: 2.5rem;
        top: 2rem;
        width: 4rem;
    }

    @media only screen and (min-width: 992px) {
        height: 5rem;
        right: 5rem;
        width: 5rem;
    }
}

.navigation__item-header {

    @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 991px) {
        margin: 0.5rem;
    }
}

.navigation__link-header,
.navigation__link-header:link,
.navigation__link-header:visited {

    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 991px) {
        font-size: 2rem;
    }
}

.navigation__link:hover {

    @media only screen and (min-width: 768px) {
        -webkit-transform: translateY(-0.3rem);
            -ms-transform: translateY(-0.3rem);
                transform: translateY(-0.3rem);
    }    
}

.navigation__icon {

@media only screen and (min-width: 768px) {
        top: 31%;
    }
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {

    @media only screen and (min-width: 768px) {
        height: 0.2rem;
        width: 2.5rem;
    }
}

.navigation__icon::before {

    @media only screen and (min-width: 768px) {
        top: -0.8rem;
    }
}

.navigation__icon::after {

    @media only screen and (min-width: 768px) {
        top: 0.8rem;
    }
}

.navigation__button:hover .navigation__icon::before {

    @media only screen and (min-width: 768px) {
        top: -0.9rem;
    }
}

.navigation__button:hover .navigation__icon::after {

    @media only screen and (min-width: 768px) {
        top: 0.9rem;
    }
}

// E N D  O F  H O M E P A G E  H E A D E R  A N D  N A V I G A T I O N


// S T A R T  O F  T Y P O G R A P H Y
// Start of heading open
.heading-open {
    @media only screen and (orientation: landscape) {
        left: 38%;
    }
    @media only screen and (min-width: 768px) {
        font-size:  7.5rem;
        left: 52%;
        letter-spacing: 1.7rem;
    }
    // Reposition and resetting font - opening heading for iPhone X series
    @media only screen and (orientation: landscape) and (min-width: 768px) {
        font-size: 3.4rem;
        left: 35%;
        letter-spacing: 1rem;
    }
    @media only screen and (min-width: 992px) {
        left: 44%;
        text-shadow: 0.5rem 0.4rem 0.5rem rgba($color-contrast-blue, 0.5);  // Increasing shadow size
    }
    @media only screen and (orientation: landscape) and (min-width: 992px) {
        font-size: 6.5rem;
        left: 37%;
        letter-spacing: 1.7rem;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 7.5rem;
        left: 33%;
    }
    @media only screen and (min-width: 1500px) {
        left: 31%;
    }
}
// End of heading open

// Start of heading primary
.heading-primary {
   
    @media only screen and (orientation: landscape) {
        left: 35%;
    }
    @media only screen and (min-width: 768px) {
        font-size:  6rem;
        left: 45%;
        letter-spacing: 1.7rem;
    }
    @media only screen and (min-width: 992px) {
        left: 38%;
    }
    // Resetting font
    @media only screen and (orientation: landscape) and (min-width: 768px) {
        font-size:  3rem;
        left: 33%;
        letter-spacing: 1rem;
    }
    @media only screen and (orientation: landscape) and (min-width: 992px) {
        font-size:  6rem;
        left: 34%;
        letter-spacing: 1.7rem;
    }
    @media only screen and (min-width: 1200px) {
        left: 29%;
    }
    @media only screen and (min-width: 1500px) {
        font-size:  7rem;
        letter-spacing: 1.7rem;
    }
}

.heading-primary__main, .heading-primary__sub1 {
     @media only screen and (min-width: 992px) {
        padding-bottom: 5rem;
    }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
        padding-bottom: 3.5rem;
    }
    @media only screen and (min-width: 1200px) {
        padding-bottom: 7rem;
    }
}
// End of heading primary


// Start of heading secondary
.heading-secondary {
    @media only screen and (min-width: 768px) {
        font-size: 4.2rem;
        letter-spacing: 1rem;
    }
    @media only screen and (orientation: landscape) and (min-width: 768px) {
        font-size: 2.5rem;
    }
    @media only screen and (min-width: 992px) {
        font-size: 5rem;
    }
    
    &__bookings {
        @media only screen and (min-width: 900px) {
            margin-bottom: 4rem;
        }
    }
    &__popup {
        @media only screen and (min-width: 768px) {
            font-size: 4.5rem;
        }
        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: 3.5rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 6rem;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 8rem;
        }
    }
}
// End of heading secondary


// Start of heading tertiary
.heading-tertiary {
    @media only screen and (min-width: 768px) {
        font-size: 3.2rem;
        letter-spacing: 1rem;
    }
    @media only screen and (min-width: 992px) {
        font-size: 3.7rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 768px) {
        font-size: 2.2rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 992px) {
        font-size: 3.2rem;
    }
    @media only screen and (orientation: landscape) and (min-width: 1200px) {
        font-size: 2.7rem;  // Breakpoint for column (now three abreast)
    }

    &__therapies-home {
        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }

    &__popup {
        @media only screen and (min-width: 768px) {
            font-size: 3.2rem;
        }
        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: 2.1rem;
        }
        @media only screen and (min-width: 1024px) {
            font-size: 4.2rem;
        }
        @media only screen and (orientation: landscape) and (min-width: 1024px) {
            font-size: 3.2rem;
        }
        @media only screen and (orientation: landscape) and (min-width: 1200px) {
            font-size: 4.2rem;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 5rem;
        }
    }
}
// End of heading tertiary

// E N D  O F  T Y P O G R A P H Y

// S T A R T  O F  C A R D
.card {
    @media only screen and (orientation: landscape) {
        margin-left: 10%;
        width: 80%;
    }

    @media only screen and (min-width: 768px) {
        margin-left: 15%;
        width: 70%;
    }

    @media only screen and (min-width: 1200px) {
        margin-bottom: 0;
        margin-left: 0%;
        width: 100%;
    }

    &-img {

        @media only screen and (orientation: landscape) {
            margin: 0 10%;
            width: 80%;
        }

        @media only screen and (min-width: 768px) {
            margin: 0 15%;
            width: 70%;
        }

        @media only screen and (min-width: 1500px) {
            margin: 0 10%;
            width: 80%;
        }
    }

    &-text {

        @media only screen and (min-width: 768px) {
            font-size: 2rem;
            margin: 2rem 5%;
            min-height: 29rem;
            width: 90%;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: 1.5rem;
            margin: 2rem auto;
            min-height: 16rem;
        }

        @media only screen and (min-width: 992px) {
            min-height: 23rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 992px) {
            font-size: 2rem;
            min-height: 30rem;
        }

        @media only screen and (min-width: 1200px) {
            min-height: 36rem;
        }

        @media only screen and (min-width: 1500px) {
            font-size: $main-font-size;
            margin: 3rem 5%;
            min-height: 20rem;
            width: 90%;
        }

        &__about {

            @media only screen and (orientation: landscape) and (min-width: 1200px) {
                font-size: 2rem;
            }
        }

        &__contact {
            min-height: 0;  // Overwrite other text styles
        }
    }

    &__customer-feedback {
        @media only screen and (min-width: 1200px) {
            width: 70%;

            // To centralize the cards
            &-left {
                margin: 3rem 25%;
            }

            &-right {
                margin: 3rem 5%;
            }
        }
    }

   &__therapies {
        @media only screen and (min-width: 992px) {
            margin: 2rem 10%;
            width: 80%;
        }
        
        @media only screen and (min-width: 1200px) {
            margin: 2rem 0%;
            width: 100%;
        }
    }


    &-individual__image {

        @media only screen and (orientation: landscape) {
            margin: 0 10%;
            width: 80%;
        }

        @media only screen and (min-width: 768px) {
            margin: 0 10%;
            width: 80%;
        }

        @media only screen and (min-width: 1024px) {
            margin: 0 10%;
            width: 80%;
        }

        @media only screen and(orientation: landscape) and (min-width: 1200px) {
            margin: 0 10%;
            width: 80%;
        }
    }

    &__about {

        @media only screen and (orientation: landscape) {
            margin-left: 2%;
            width: 96%;
        }

        @media only screen and (min-width: 768px) {
            margin-left: 5%;
            width: 90%;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            margin-left: 3%;
            width: 94%;
        }

        @media only screen and (min-width: 992px) {
            margin-left: 11%;
            width: 78%;
        }

        @media only screen and (min-width: 1500px) {
            margin-bottom: 3rem;
            margin-left: 15%;
            width: 70%;
        }
    }

    &__contact {
        margin: 3rem 0%;
        width: 100%;
    }
}
// E N D  O F  C A R D

// S T A R T  O F  L E A R N  M O R E  B U T T O N
// inline button (similar styling to other buttons - reduce button overload)
.btn-text {
    &:link,
    &:visited {

        @media only screen and (min-width: 768px) {
            font-size: 2rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 992px) {
            font-size: 2rem;
        }

        @media only screen and (min-width: 1500px) {
            font-size: $main-font-size;
        }
    }

    &:hover {
        background-color: $color-medium-green;
        border-radius: $image-border-radius-small;
        -webkit-box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
                box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        color: $color-white;
        -webkit-transform: translateY(-0.3rem);
            -ms-transform: translateY(-0.3rem);
                transform: translateY(-0.3rem);
    }

    &:active {
        -webkit-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
                box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
        -webkit-transform: translateY(0rem);
            -ms-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}
// E N D  O F  L E A R N  M O R E  B U T T O N

// S T A R T  O F  F O O T E R
.footer {
    @media only screen and (min-width: 1200px) {
        margin-top: 0;
    }

    &__heading--margin {
        @media only screen and (min-width: 992px) {
            margin-top: 0;
        }
    }

}
// E N D  O F  F O O T E R


.page-header {
    @media only screen and (orientation: landscape) {
        height: 20vh;
    }

    @media only screen and (min-width: 1200px) {
        height: 11vh;
    }
}

.page-title__heading {
    @media only screen and (min-width: 375px) {
        top: 50%;
    }

    @media only screen and (orientation: landscape) {
        font-size: 3.5rem;
        letter-spacing: 1rem;
    }

    @media only screen and (min-width: 768px) {
        font-size:  4.5rem;
        letter-spacing: 2rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size:  8rem;
        letter-spacing: 2rem;
    }
}

.about-page {

    &__inner-container {
        @media only screen and (min-width: 768px) {
            margin: 8rem 10%;
            width: 80%;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            margin: 8rem 5%;
            width: 90%;
        }

        @media only screen and (min-width: 1024px) {
            margin: 8rem -5%;
            width: 110%;
        }

        @media only screen and (min-width: 1200px) {
            margin: 8rem 5%;
            width: 90%;
        }
    }

    &__content {

        @media only screen and (min-width: 768px) {
            font-size: 2rem;
        }
    }
}

.bookings-page__container {
    @media only screen and (min-width: 768px) {
        width: 80vw;
    }
    
    @media only screen and (min-width: 1200px) {
        width: 60vw;
    }
}

.form-group {
    @media only screen and (min-width: 768px) {
        width: 75%;
    }

    &:first-child {
        margin-top: 3rem;

        @media only screen and (min-width: 1200px) {
            margin-top: 5rem;
        }
    }

    @media only screen and (min-width: 1500px) {
        width: 60%;
    }
}

.label, .date, .calendar__month {

    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media only screen and (min-width: 1500px) {
        font-size: $main-font-size;
    }
}

.form-control {
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.form-text {
    @media only screen and (min-width: 992px) {
        font-size: 1.2rem;
    }
}

.calendar {
    @media only screen and (min-width: 768px) {
        width: 75%;
    }
    @media only screen and (min-width: 1500px) {
        width: 60%;
    }
}

.date {
    @media only screen and (min-width: 768px) {
        -ms-grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
        grid-template-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    }

    @media only screen and (min-width: 1024px) {
        -ms-grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
        grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
    }

    @media only screen and (orientation: landscape) {
        -ms-grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
        grid-template-columns: 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem 4.5rem;
        padding: 4.5rem;
    }

    @media only screen and (orientation: landscape) and (min-width: 1024px) {
        -ms-grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
        grid-template-columns: 6rem 6rem 6rem 6rem 6rem 6rem 6rem;
        padding: 4.5rem;
    }

    @media only screen and (min-width: 1200px) {
        -ms-grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
        grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
    }

    @media only screen and (min-width: 1800px) {
        -ms-grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
        grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
        -ms-grid-template-rows: 6rem auto 2rem;
        grid-template-rows: 6rem auto 2rem;
    }
}

.popup__content {
    @media only screen and (orientation: landscape) {
        background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-dark-green, 0.2)), to(rgba($color-contrast-blue, 0.8))), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: -o-linear-gradient(top left, rgba($color-dark-green, 0.2), rgba($color-contrast-blue, 0.8)), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        background-image: linear-gradient(to bottom right, rgba($color-dark-green, 0.2), rgba($color-contrast-blue, 0.8)), 
                          url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978498/Milestone%201/header-image_570x265_e6b1gd.jpg");
        height: 75vh;
        width: 65%;
    }

    @media only screen and (orientation: landscape) and (min-width: 1024px) {
        height: 55vh;
        width: 60%;
    }

    @media only screen and (min-width: 1500px) {
        height: 60vh;
        width: 50%;
    }
}

.map-responsive {
    @media only screen and (min-width: 1024px) {
        height: 50rem;
    }
}

.map-responsive iframe {
    @media only screen and (orientation: landscape) {
        margin: 0 10%;
        width: 80%;
    }

    @media only screen and (min-width: 768px) {
        margin: 0 10%;
        width: 80%;
    }

    @media only screen and (min-width: 1024px) {
        height: 50rem;
    }
}

.therapies {
    @media only screen and (min-width: 768px) {
        margin-top: 6rem;
        padding: 5rem 0 6rem;
    }

    @media only screen and (min-width: 1200px) {
        margin-top: 6rem;
        padding: 5rem 0 8rem;
    }
}

.customer-feedback {
    @media only screen and (min-width: 768px) {
        margin-top: 6rem;
        padding: 5rem 0;
    }

    &__username {
        @media only screen and (min-width: 768px) {
            margin: 0 5%;
            width: 90%;
        }

        @media only screen and (min-width: 1500px) {
            margin: 0;
            width: 100%;
        }
    }
}

.therapies-page {

    &__inner-container {
        @media only screen and (min-width: 768px) {
            margin: 10rem auto;
            padding: 2rem 5rem;
        }
    }

    &__content {

        @media only screen and (min-width: 768px) {
            font-size: 2rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 768px) {
            font-size: 1.5rem;
        }

        @media only screen and (orientation: landscape) and (min-width: 992px) {
            font-size: 2rem;
        }

        @media only screen and (min-width: 1500px) {
            font-size: $main-font-size;

        }
    }
}