// An adaptation of Jonas Schmedtmanns' Checkbox Hack
.navigation__checkbox {
    display: none;
}

.navigation__button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba($color-white,.75);
    border-radius: 50%;
    -webkit-box-shadow: 0.2rem 0.47rem 1rem rgba(53, 82, 74, 0.3);
            box-shadow: 0.2rem 0.47rem 1rem rgba(53, 82, 74, 0.3);
    cursor: pointer;
    height: 3.5rem;
    position: fixed;
    right: 2.5rem;
    top: 1.2rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    width: 3.5rem;
    z-index: 1000;
}

.navigation__nav {
    background-color: rgba($color-medium-green, 0.95);
    height: 100vh;
    opacity: 0;                                         // hiding the navigation menu
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5);
    -o-transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5);
    width: 0;
    z-index: 750;
}

.navigation__list {
    @include center-screen;
    list-style: none;
    opacity: 0;                                         // hiding the navigation list
    text-align: center;
    visibility: hidden;
}

.navigation__item-header {
    margin: 3rem;
}

// An adaptation of Jonas Schmedtmann's link background animation (color transition from right to left)
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, $color-white));
    background-image: -o-linear-gradient(left, transparent 0%, transparent 50%, $color-white 50%);
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 220%;                                 
    border-radius: 1.4rem;
    color: $color-white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.navigation__link-header,
.navigation__link-header:link,
.navigation__link-header:visited {
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem 0.9rem;
}

.navigation__link-footer,
.navigation__link-footer:link,
.navigation__link-footer:visited {
    font-size: 1.3rem;
    margin-left: -0.4rem;
    padding: 0.4rem 0.4rem;
}

.navigation__link:hover {
    // Slight shift upward to provide further user feedback
    background-position: 100%;
    -webkit-box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
            box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
    color: $color-medium-green;
    -webkit-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
}

.navigation__link:active {
    // Slight shift upward and darken shadow to provide user 'button press' feedback
    background-position: 100%;
    -webkit-box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);
            box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);
    color: $color-medium-green;
    -webkit-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
}

// Add a little site continuity by repeating the navigation effects in the footer
.navigation__link-footer:hover {
    background-position: 100%;
    -webkit-box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
    color: $color-medium-green;
    -webkit-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
}
.navigation__link-footer:active {
    background-position: 100%;
    -webkit-box-shadow: 0 0.3rem 0.7rem rgba($color-black, 0.9);
            box-shadow: 0 0.3rem 0.7rem rgba($color-black, 0.9);
    color: $color-medium-green;
    -webkit-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
}
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
    opacity: 1;
    visibility: visible;
}

.navigation__icon {
    @include center-screen;
    left: 50%;
    position: relative;
    top: 24%;

}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    background-color: rgba($color-dark-green,0.8);
    display: inline-block;
    height: 0.1rem;
    width: 1.8rem;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    -webkit-transition: top 0.2s;
    -o-transition: top 0.2s;
    transition: top 0.2s;
    -webkit-transition: -webkit-transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
    transition: -webkit-transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
    -o-transition: transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
    transition: transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
    transition: transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25), -webkit-transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
}

// Creating the hamburger
.navigation__icon::before {
    top: -0.5rem;
}

.navigation__icon::after {
    top: 0.5rem;
}


// Another little shift to give user feedback
.navigation__button:hover .navigation__icon::before {
    top: -0.6rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 0.6rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
            transform: rotate(45deg);  
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}