// An adaptation of Jonas Schmedtmanns' Checkbox Hack
.navigation__checkbox {
    display: none;
}

.navigation__button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: rgba($color-white,.75);
    box-shadow: 0.2rem 0.47rem 1rem rgba(53, 82, 74, 0.3);
    position: fixed;
    top: 1.2rem;
    right: 2.5rem;
    z-index: 1000;
    cursor: pointer;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
    backface-visibility: hidden;
}

.navigation__nav {
    position: fixed;
    height: 100vh;
    background-color: rgba($color-medium-green, 0.95);
    top: 0;
    right: 0;
    z-index: 750;
    opacity: 0;                                         // hiding the
    width: 0;                                           // navigation menu
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0, 1.5);
}

.navigation__list {
    @include center-screen;
    list-style: none;
    text-align: center;
    opacity: 0;                                         // hiding the
    visibility: hidden;                                 // navigation list
}

.navigation__item-header {
    margin: 3rem;
}

// An adaptation of Jonas Schmedtmann's link background animation
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    backface-visibility: hidden;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(left, transparent 0%, transparent 50%, $color-white 50%);
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, $color-white 50%);
    border-radius: 1.4rem;
    background-size: 220%;                                 
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.navigation__link-header,
.navigation__link-header:link,
.navigation__link-header:visited {
    font-size: 2rem;
    font-weight: 300;
    padding: 0.5rem 0.9rem;
}

.navigation__link-footer,
.navigation__link-footer:link,
.navigation__link-footer:visited {
    font-size: 1.3rem;
    padding: 0.4rem 0.4rem;
    margin-left: -0.4rem;
}

.navigation__link:hover {
    color: $color-medium-green;
    background-position: 100%;
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);                                 // Slight shift upward to provide further user feedback
    box-shadow: 0 1rem 2rem rgba($color-dark-green, 0.5);
 
}
.navigation__link:active {
    color: $color-medium-green;
    background-position: 100%;
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);                                 // Slight shift upward 
    box-shadow: 0 0.5rem 0.7rem rgba($color-dark-green, 0.9);       // and darken shadow to provide user 'button press' feedback
}

// Add a little site continuity by copying to the links in the footer
.navigation__link-footer:hover {
    color: $color-medium-green;
    background-position: 100%;
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.5);
}
.navigation__link-footer:active {
    color: $color-medium-green;
    background-position: 100%;
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
    box-shadow: 0 0.3rem 0.7rem rgba($color-black, 0.9);
}
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked ~ .navigation__nav > .navigation__list {
    opacity: 1;
    visibility: visible;
}

.navigation__icon {
    position: relative;
    top: 24%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    display: inline-block;
    width: 1.8rem;
    height: 0.1rem;
    background-color: rgba($color-dark-green,0.8);
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    -webkit-transition: -webkit-transform  0.7s ease-in-out;
    transition: transform  0.7s cubic-bezier(0.65, 0.9, 0.3, 1.25);
}

// Creating the hamburger
.navigation__icon::before {
    top: -0.5rem;
}

.navigation__icon::after {
    top: 0.5rem;
}


// Another little shift to give user feedback
.navigation__button:hover .navigation__icon::before {
    top: -0.6rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 0.6rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);  
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}