.about-page {

    &__container {
        padding: 0;
        background-image: linear-gradient(to right, rgba($color-white, 0.8) 0%, rgba($color-white, 0.2) 25%, rgba($color-white, 0.2) 75%, rgba($color-white, 0.8)), url(../img/about-bg-img.jpg);
        background-size: cover;
        background-position: right;
        position: relative;
    }

    &__card-container {
        margin: 10vh auto;
        padding: 10vh 0;
        border-radius: 30px;
        background-color: rgba($color-light-green, 0.7);
        box-shadow: 9px 8px 20px rgba($color-contrast-blue, 0.5);
    }

    &__inner-container {
        width: 90%;
        margin: 5rem 5%;

        padding: 2rem;
        background-color: rgba($color-light-green, 0.5);
        border-radius: 2rem;
        box-shadow: 0.9rem 0.8rem 2rem rgba($color-contrast-blue, 0.5);
    }
}