.bookings-page {
    padding: 0;
    background-image: linear-gradient(to right, rgba($color-white, 0.8) 0%, rgba($color-white, 0.2) 25%, rgba($color-white, 0.2) 75%, rgba($color-white, 0.8)), url(../img/bookings-bg-img.jpg);
    background-size: cover;
    background-position: left;
    position: relative;

    &__container {
        margin: 10rem auto;
        background-color: rgba($color-light-green, 0.7);
        width: 90vw;
        border: 0.1rem solid $color-dark-green;
    }

    &__list-background-container {
        padding: 0;
    }

    &__list-container {
        margin: 100px auto;
        background-color: rgba($color-light-green, 0.7);
        width: 50vw;
        border: 1px solid $color-dark-green;
    }

    &__table {
        width: 85%;
        margin: 0 27%;
    }
}

.form-group {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.label {
    text-transform: uppercase;
    font-size: $mobile-font-size__portrait;
}

.form-control {
    font-size: $mobile-font-size__portrait;
}

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 1rem auto 5rem auto;
    height: auto;
    background-color: $color-white;

    &-label {
        width: 100%;
        margin: 3rem auto 1rem;
        text-align: center;
    }
}

.date {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    grid-template-rows: 3.5rem auto 2rem;
    column-gap: 1rem;
    row-gap: 1.5rem;
    font-size: $mobile-font-size__portrait;
}


.day, .number {
    text-align: center;
}

.number:link,
.number:visited {
    color: $color-black;
    text-decoration: none;
}

.number:hover {
    width: 50%;
    margin-left: 25%;
    background-color: $color-dark-green;
    color: white;
    cursor: pointer;
}

.popup {
    background-color: rgba($color-black, 0.8);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in;

    &:target {
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    &__close {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-white;
            font-size: 40px;
            text-decoration: none;
            position: absolute;
            top: 5px;
            right: 25px;
        }
    }

    &__content {
        @include center-screen;
        background-image: linear-gradient(to bottom right, rgba($color-dark-green, 0.2), rgba($color-contrast-blue, 0.8)), url(../img/header-image_330x535.jpg);
        background-size: cover;
        background-position: bottom;
        height: 40vh;
        width: 90%;
        border-radius: 3rem;
        box-shadow: 0.2rem 0.2rem 1.5rem rgba($color-white, 0.2);
    }

    &__text {
        color: $color-white;
        text-shadow: 2px 2px rgba($color-dark-green, 0.8) ;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        &-secondary {
            font-size: 30px;
            color: $color-white;
            text-shadow: 2px 2px rgba($color-dark-green, 0.8) ;
            position: absolute;
            top: 40%;
            left: 15%;
            transform: translateX(-6%);
        }
    }
}