.contact-page__map {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.contact-page__location {
    @include center-screen;
    top: 12%;
}


.map-responsive {
    overflow: hidden;
    position: relative;
    height: 30rem;
}

.map-responsive iframe {
    height: 30rem;
    width: 100%;
}