// Start of Therapies Section //
.therapies {
    background-color: $color-light-green;
    margin-top: 6rem;
    padding: 5rem 0;
    box-shadow: 0px -1rem 6rem rgba($color-contrast-blue, 0.25), 0px 10px 60px rgba($color-contrast-blue, 0.25);

    @media only screen and (max-width: 767px) {
        background-color: $color-light-green;
        margin-top: 6rem;
        padding: 5rem 0;
        box-shadow: 0 -1rem 6rem rgba(53, 82, 74, 0.25), 0 1rem 6rem rgba(53, 82, 74, 0.25);
    }
}

.card {
    background-color: transparent;
    border: none;

    @media only screen and (max-width: 767px) {
        margin-bottom: 3rem;
    }

    &-img {
        width: 100%;
        margin: auto;
        border-radius: 3rem;
    }

    &-body {
        padding: 2rem;
        // height: 400px;
        background-color: rgba($color-white, 0.7);
        box-shadow: 0.9rem 0.8rem 2rem rgba($color-contrast-blue, 0.5);
        border-radius: 2rem;
        overflow: auto;
    }
}

.therapies-box {

    &__image {
        border: 0.3rem solid rgba($color-contrast-blue, 0.25);
        box-shadow: 0 0.6rem 2.3rem rgba($color-contrast-blue, 0.5);
    }

    &__content {
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-contrast-blue;
        overflow: auto;
        height: 30rem;
    }
}

.therapies_row2 {
    padding-top: 4rem;

    @media only screen and (max-width: 767px) {
        padding-top: 0;
    }
}
// End of Therapies Section //


// Start of Customer Feedback Section //
.customer-feedback {
    background-color: $color-white;
    margin-top: 6rem;
    padding: 5rem 0;

    &__image {
        width: 90%;
        margin: auto;
    }

    &__content {
        font-size: 1.7rem;
    }

    &__username {
        font-size: 1.4rem;
        color: darken($color-contrast-blue, 15%);
    }

    &__date {
        color: $color-contrast-blue;
    }
}

.rating {
    float: right;
}

.gold-star {
    color: gold;
}
// End of Customer Feedback Section //