// Start of Therapies Section //
.therapies {
    background-color: $color-light-green;
    margin-top: 3rem;
    padding: 2rem 0 3rem 0;
    -webkit-box-shadow: 0 -1rem 6rem rgba(53, 82, 74, 0.25), 0 1rem 6rem rgba(53, 82, 74, 0.25);
            box-shadow: 0 -1rem 6rem rgba(53, 82, 74, 0.25), 0 1rem 6rem rgba(53, 82, 74, 0.25);    
}

.no-margin {
    margin: 0;
}

.therapies_row2 {
    padding-top: 0;
}
// End of Therapies Section //


// Start of Customer Feedback Section //
.customer-feedback {
    background-color: $color-light-green;;
    margin-top: 3rem;

    &__username {
        font-size: 1.4rem;
        color: darken($color-contrast-blue, 15%);
    }

    &__date {
        color: $color-contrast-blue;
    }
}

.rating {
    float: right;
}

.gold-star {
    color: gold;
}
// End of Customer Feedback Section //