.price-list-page {
    padding: 0;
    background-image: linear-gradient(to right, rgba($color-white, 0.8) 0%, rgba($color-white, 0.2) 25%, rgba($color-white, 0.2) 75%, rgba($color-white, 0.8)), url(../img/prices-bg-img.jpg);
    background-size: cover;
    background-position: left;
    position: absolute;

    &__list-background-container {
        padding: 0;
    }

    &__list-container {
        margin: 100px auto;
        background-color: rgba($color-light-green, 0.7);
        width: 90vw;
        padding: 0 1rem;
        border: 1px solid $color-dark-green;
    }

    &__table {
        display: table;
        text-align: center;
        font-size: $mobile-font-size__portrait;
    }
}

.heading-secondary-price-list {
    font-size: 35px;
    margin-bottom: 30px;
    color: $color-dark-green;
    padding-top: 5vh;

    &:not(:first-child) {
        padding-top: 5vh;
    }
}

.heading-tertiary-price-list {
    font-size: 22px;
    color: $color-contrast-blue;
    margin-bottom: 10px;
}


table {
    border-collapse: separate;
    border-spacing: 9px;
}

.table {
    margin-bottom: 30px;
}

th ~ .border-left, th ~ .border-none, td ~ .border-left {
    padding-left: 0;
}

tr {
    height: 2rem;
}
