.therapies-page {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba($color-white, 0.2)), color-stop(50%, rgba($color-white, 0.5)),  to(rgba($color-white, 0.1))), 
                      url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/therapies-bg-img_rspvuh.jpg");
    background-image: -o-linear-gradient(left, rgba($color-white, 0.2) 0%, rgba($color-white, 0.5) 50%,  rgba($color-white, 0.1)), 
                      url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/therapies-bg-img_rspvuh.jpg");
    background-image: linear-gradient(to right, rgba($color-white, 0.2) 0%, rgba($color-white, 0.5) 50%,  rgba($color-white, 0.1)), 
                      url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/therapies-bg-img_rspvuh.jpg");
    background-position: top center;
    background-size: 150%;
    padding: 0;
    position: absolute;

    &__container {
        margin: 0 5%;
        padding: 0;
        width: 90%;
    }

    &__inner-container {
        background-color: rgba($color-light-green, 0.7);
        border: 0.1rem solid $color-dark-green;
        margin: 7rem auto;
        padding: 2rem 2rem;
    }

    &__content {
        color: $color-contrast-blue;
        font-size: $mobile-font-size__portrait;
        font-weight: 400;
        overflow: auto; 
    }
}

.prices {
    font-size: $main-font-size;
    margin-bottom: 5rem;
    text-align: center;

    &-heading {
        font-weight: bold;
        margin-top: 2rem;

    }
    &-content {
        margin-top: 2rem;
    }
}