.therapies-page {
    padding: 0;
    background-image: linear-gradient(to right, rgba($color-white, 0.2) 0%, rgba($color-white, 0.5) 50%,  rgba($color-white, 0.1)), url(../img/therapies-bg-img.jpg);
    background-size: 150%;
    background-position: top center;
    position: absolute;

    &__container {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

    &__inner-container {
        margin: 7rem auto;
        background-color: rgba($color-light-green, 0.7);
        border: 1px solid $color-dark-green;
        padding: 2rem 2rem;
    }

    &__content, &__table {
        font-size: $mobile-font-size__portrait;
    }

    &__table {
        display: table;
        text-align: center;
    }
}

table {
    border-collapse: separate;
    border-spacing: 9px;
}

th ~ .border-left, th ~ .border-none, td ~ .border-left {
    padding-left: 0;

}

tr {
    height: 2rem;
}