.therapies-page {
    padding: 0;
    background-image: linear-gradient(to right, rgba($color-white, 0.2) 0%, rgba($color-white, 0.5) 50%,  rgba($color-white, 0.1)), 
                      url("https://res.cloudinary.com/bogtrotter72/image/upload/v1572978496/Milestone%201/therapies-bg-img_rspvuh.jpg");
    background-size: 150%;
    background-position: top center;
    position: absolute;

    &__container {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

    &__inner-container {
        margin: 7rem auto;
        background-color: rgba($color-light-green, 0.7);
        border: 0.1rem solid $color-dark-green;
        padding: 2rem 2rem;
    }

    &__content {
        font-size: $mobile-font-size__portrait;
    }
}

.prices {
    font-size: $main-font-size;
    text-align: center;
    margin-bottom: 5rem;

    &-heading {
        font-weight: bold;
        margin-top: 2rem;

    }
    &-content {
        margin-top: 2rem;
    }
}